.navbar img {
  height: 30px;
}

.navbar span {
  background-color: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
  text-align: center;
  font-size: 12px;
}

.itemCount span {
  padding: 1rem;
}